<html>
	<head>
        <% include ./../partials/head %>
	</head>
	<header>
		<img class="width-150 opacity-hover-08 pointer" onclick="window.location.href='/catalogo'" src="/images/favicon/favicon-black.png">
		<style>
			.lock-screen {
			    height: 100%;
			    overflow: hidden;
			    width: 100%;
			}

			.img-zoom-lens {
			  position: absolute;
			  border: 1px solid #d4d4d4;
			  width: 150px;
			  height: 150px;
			}
		</style>
	</header>
	<body>
		<section>
			<div class="container">
				<div class="box b1 container ground margin-top-10 shadow">

					<div class="box b2 container center">
						<% if(!product.images.length){ %>
						<div data-js="product-carousel" class="box b1 ground margin-top-15 center display-none display-block" style="background-image: url(/images/product/no-product.png)">
		                    <img class="catalog-image" src="/images/product/no-product.png">
		                </div>
						<% } else { %>
						<div data-js="product-carousel" class="box b1 ground margin-top-15 display-none display-block">
							<div class="center relative"><img class="catalog-image" src="<%= product.images[0].url %>"></div>
						</div>
						<% for(i in product.images){ %>
							<% if(i > 0){ %>
							<div data-js="product-carousel" class="box b1 ground margin-top-15 display-none">
			                    <div class="center relative"><img class="catalog-image center" src="<%= product.images[i].url %>"></div>
							</div>
							<% } %>
						<% } %>
						<div id="product-carousel-navigation" class="box b1 ground container padding-10 center">
		                    <div class="mobile-box b5"></div>
		                    <button data-js="product-carousel-prev" name="carousel-prev" class="mobile-box b5 noborder"><img class="height-40 icon pointer" src="/images/icon/prev.png"></button>
		                    <div class="mobile-box b5"></div>
		                    <button data-js="product-carousel-next" name="carousel-next" class="mobile-box b5 noborder"><img class="height-40 icon pointer" src="/images/icon/next.png"></button>
		                </div>
						<% } %>
					</div>

					<div id="product-info-box" class="box b2 container margin-bottom-15">
						<div class="box b1 avant-garde em40 center padding-10 bold"><%= product.name %> - <%= product.color %></div>
						<div class="box b1 avant-garde em25 italic center padding-10 bold" style="color:#467846;">R$<%= product.price %></div>

						<div class="box b1 container">
							<% if(product.products) { %>
								<% for(let i in product.products){ %>
									<div class="mobile-box b3 container ground padding-10 margin-top-5 center">
									<% if(product.products[i].image){ %>
										<div class="mobile-box b1 center"><img class="image-card" style="max-height:100px" src="<%= product.products[i].image %>"></div>
									<% } else { %>
										<div class="mobile-box b1 center"><img class="image-card" style="max-height:100px" src="/images/product/no-product.png"></div>
									<% } %>
										<div class="mobile-box b1 avant-garde center margin-top-10 bold"><%= product.products[i].amount %>un - <%= product.products[i].name %> | <%= product.products[i].color %></div>
									</div>
								<% } %>
							<% } %>
						</div>
					</div>
				</div>
			</div>
		</section>
		<div id="ajax-loader" class="ajax-loader">
			<div class="loader"></div>
		</div>
	</body>
	<footer>
        <% include ./../partials/footer %>
        <% include ./partial %>
        <script>
        	lib.carousel.render("product-carousel");
        </script>
	</footer>
</html>