<!DOCTYPE html>
<html>
<head>
	<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-TR39P8H');</script>
	<!-- End Google Tag Manager -->

	<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-17XCXPHGNM"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-17XCXPHGNM');
		</script>

		
  <title>Colete Tático da PM Bahia</title>
  <link rel="icon" href="https://wt-images-cdn.sfo3.digitaloceanspaces.com/BlackFridayOUT/favicon.png" type="image/x-icon">
  <%- include('./../../partials/head.ejs') %>
</head>

<body>
	<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TR39P8H"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	
<%- include('./components/header.ejs') %>
<%- include('./components/banner.ejs') %>
<%- include('./components/products/layout.ejs') %>
<%- include('./components/description.ejs') %>
<%- include('./components/call-to-action.ejs') %>
</body>

<footer>
  <%- include('./../../partials/footer.ejs') %>
  <%- include('./components/products/script.ejs') %>
</footer>
</html>