<!DOCTYPE html>
<html>
<head>
  <title>Colete Tático da PM Bahia</title>
  <link rel="icon" href="https://wt-images-cdn.sfo3.digitaloceanspaces.com/BlackFridayOUT/favicon.png" type="image/x-icon">
  <%- include('./../../partials/head.ejs') %>
</head>

<%- include('./components/header.ejs') %>
<%- include('./components/banner.ejs') %>
<%- include('./components/products/layout.ejs') %>
<%- include('./components/description.ejs') %>
<%- include('./components/call-to-action.ejs') %>

<footer>
  <%- include('./../../partials/footer.ejs') %>
  <%- include('./components/products/script.ejs') %>
</footer>
</html>