<!DOCTYPE html>
<html>

<head>
  <title>Revenda | J.A Rio Militar®</title>

  <%- include('./../../partials/head.ejs') %>
  <meta name="description"
    content="Descubra nossa plataforma de revenda de artigos militares de alta qualidade. Amplie seus negócios no mercado militar com nossa variedade de produtos e suporte personalizado." />
  <meta name="keywords"
    content="revenda, artigos militares, produtos militares, equipamento tático, negócio militar, Revenda de Artigos Militares, Artigos Militares para Revenda, Equipamento Tático no Atacado, Produtos Militares de Qualidade, Fornecedores de Artigos Militares, Roupas Militares para Revenda, Acessórios Militares no Atacado, Equipamento de Sobrevivência para Revenda, Material Tático para Revendedores, Negócio de Artigos Militares, Revenda Invictus, Revenda Rossi, Revenda Bélica, colete tático militar, colete tático modular, colete balístico, plate carrier, coldre, cinto, cinto modular, cinto tático, bornal, chest rig" />
  <meta name="author" content="J.A Rio Militar® | Grupo J.A" />
  <meta name="language" content="Português" />

  <link rel="icon" href="https://wt-images-cdn.sfo3.digitaloceanspaces.com/BlackFridayOUT/favicon.png"
    type="image/x-icon">
  <%- include('./style.ejs') %>
</head>

<body>



  <section class="box a1 container h-center bg-black bg-image">
    <section class="box a1 container h-center">
      <div class="size-200">
        <img class="box a1" src="https://jariomilitar.com/images/favicon/favicon-white.png">
      </div>
    </section>

    <div class="box b2 lucida-grande container padding-10">
      <h1 class="padding-10 font-color-white">REVENDA J.A RIO MILITAR®</h1>
      <p class="padding-10 font-color-white em13">Conquiste a liderança de vendas do nicho militar na sua região com a
        marca J.A Rio Militar®</p>
      <p class="padding-10 font-color-white em11">
        <b>Passo a Passo para aumentar o seu faturamento:</b><br>
        1. Preencha o formulário.<br>
        2. Aguarde nossa equipe entrar em contato.<br>
        3. Explore nosso catálogo, preços e condições exclusivas.<br>
        4. Faça seu pedido de compra com facilidade e segurança.<br>
        5. Pronto! Você agora faz parte da rede de revendedores de sucesso da J.A Rio Militar®.<br>
      </p>
    </div>

    <%- include('./lead/form.ejs') %>
  </section>

  <section class="box b1 container h-center">
    <div class="box b11-12 container center padding-40">
      <h1 class="box a1 padding-10 dashed-green color-olivegreen">BENEFÍCIOS E VANTAGENS PARA REVENDEDORES</h1>

      <div class="box b3 container h-center margin-top-20">
        <div class="Box a1">
          <img class="size-100" src="https://cdn-icons-png.flaticon.com/512/5530/5530428.png"
            alt="Benefícios para lojistas, como Portal do Lojista">
        </div>
        <h3 class="margin-top-10 color-olivegreen">BENEFÍCIOS PARA LOJISTAS</h3>
        <p class="padding-15">Oferecemos vantagens exclusivas para revendedores com CNPJ, incluindo <b>menor preço do
            catálogo</b>, acesso ao Portal do Lojista, descontos progressivos e acesso antecipado a lançamentos.
          Potencialize seu negócio conosco!</p>
      </div>

      <div class="box b3 container h-center margin-top-20">
        <div class="Box a1">
          <img class="size-100" src="https://cdn-icons-png.flaticon.com/512/5530/5530643.png"
            alt="Produtos J.A Rio Militar® são os mais procurados em marketplaces como Mercado Livre, Americanas, Shopee, Amazon">
        </div>
        <h3 class="margin-top-10 color-olivegreen">CONFIANÇA DE MERCADO</h3>
        <p class="padding-15">Revenda a marca J.A Rio Militar® e agregue prestígio ao seu negócio. Produtos militares de
          qualidade reconhecida, construindo confiança e fidelidade com seus clientes. Impulsione suas vendas com nossa
          marca de renome.</p>
      </div>

      <div class="box b3 container h-center margin-top-20">
        <div class="Box a1">
          <img class="size-100" src="https://cdn-icons-png.flaticon.com/512/5530/5530218.png"
            alt="Fabricação de ponta, extrema qualidade e garantia">
        </div>
        <h3 class="margin-top-10 color-olivegreen">FABRICAÇÃO DE PONTA</h3>
        <p class="padding-15">Nossa fabricação de ponta, com equipamentos avançados, é complementada por processos
          cuidadosos de modelagem, criação e conferência, garantindo produtos de alta qualidade.</p>
      </div>
      <div class="box b3 container h-center margin-top-20">
        <div class="Box a1">
          <img class="size-100" src="https://cdn-icons-png.flaticon.com/512/5530/5530612.png"
            alt="Aumente suas vendas e seus lucros com produtos que possuem ótima margem de revenda">
        </div>
        <h3 class="margin-top-10 color-olivegreen">AUMENTE VENDAS E LUCROS</h3>
        <p class="padding-15">Os produtos J.A Rio Militar® oferecem uma ótima margem de lucro para lojistas, combinando
          qualidade e demanda. Impulsione seus ganhos com nossa linha confiável.</p>
      </div>

      <div class="box b3 container h-center margin-top-20">
        <div class="Box a1">
          <img class="size-100" src="https://cdn-icons-png.flaticon.com/512/5530/5530065.png"
            alt="Ofereça o que o seu cliente quer e precisa: J.A Rio Militar®">
        </div>
        <h3 class="margin-top-10 color-olivegreen">SEU CLIENTE QUER J.A®</h3>
        <p class="padding-15">A marca J.A Rio Militar® é amplamente procurada nos marketplaces, devido à sua qualidade e
          confiabilidade. Nossa linha de produtos é a escolha certa para o sucesso nas vendas.</p>
      </div>

      <div class="box b3 container h-center margin-top-20">
        <div class="Box a1">
          <img class="size-100" src="https://cdn-icons-png.flaticon.com/512/8386/8386241.png"
            alt="Compra fácil e humanizada com atendimento personalizado">
        </div>
        <h3 class="margin-top-10 color-olivegreen">COMPRA FÁCIL E HUMANIZADA</h3>
        <p class="padding-15">Nossa abordagem de compra é humanizada e descomplicada. Oferecemos suporte constante,
          informações precisas sobre pedidos e assistência ágil para garantir a melhor experiência ao cliente.</p>
      </div>
  </section>


  <section class="box a1 container h-center padding-15">
    <p>J.A Rio Militar® 2023 | Todos os direitos reservados.</p>
    </div>
  </section>
</body>

<footer>
  <%- include('./../../partials/footer.ejs') %>
  <script src="/javascripts/scripts/lead/main.js"></script>
  <%- include('./lead/script.ejs') %>
</footer>

</html>